<head>
  <meta http-equiv='refresh' content='0; URL=http://azakan.net:8080/Azakan/'>
</head>

<div class="home">
  <h1 class="home-header">
    Azakan
    <!-- <svg viewBox="0 0 189 81" width="189" height="81" xmlns="http://www.w3.org/2000/svg">
     logo  
    </svg> -->
  </h1>

  <div class="width-container">
    <h2 class="home-buttons-heading">Choose your network</h2>

    <div class="home-buttons">
      <mat-card *ngFor="let network of networks" [routerLink]="'/' + network" tabindex="0"
         matRipple
         class="home-button home-button--{{ network }}">
        {{network}}
      </mat-card>
    </div>
  </div>

</div>
